#root {
  max-width: 1500px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.buttons {
  border: 0;
  align-items: center;
  width: 100%;
  border-spacing: 15px;
  border-collapse: separate;
}

p{
  font-weight: 500;
  font-size: 13px;
  color: black;
  font-style: bold;
}

.add-note {
  background-image: url('./../public/popup-icons/note-sticky-solid.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.notes {
  background-image: url('./../public/popup-icons/message-solid.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.iconizer {
  background-image: url('./../public/popup-icons/compress-solid.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.all-notes {
  background-image: url('./../public/popup-icons/list-solid.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.tools {
  background-image: url('./../public/popup-icons/pen-solid.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}